.reg-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 12px;
    
}
form{
    border: 2px gray solid;
    width: 40vw;
    min-height: 60vh;
    background-color: cadetblue;
    
}
.reg-container div{
    background-color: aliceblue;
    width: 25vw;
    border-radius: 7px;
    


}
h2{
    margin: 0px;
}

#submit-btn{
    background-color: red;
    height: 45px;
    width: 100px;
    color:rgb(255, 254, 254);
    border-radius: 5px;
    margin-bottom: 5px;
}
    